[access "refs/*"]
	owner = group user/lnykryn (lnykryn)
[access "refs/for/refs/*"]
	read = group user/lnykryn (lnykryn)
	push = group user/lnykryn (lnykryn)
	label-Code-Review = -2..+2 group user/lnykryn (lnykryn)
	label-Verified = -1..+1 group user/lnykryn (lnykryn)
	rebase = group user/lnykryn (lnykryn)
	removeReviewer = group user/lnykryn (lnykryn)
	submit = group user/lnykryn (lnykryn)
[access "refs/heads/*"]
	read = group user/lnykryn (lnykryn)
	create = group user/lnykryn (lnykryn)
	push = +force group user/lnykryn (lnykryn)
	pushMerge = group user/lnykryn (lnykryn)
[access "refs/tags/*"]
	push = +force group user/lnykryn (lnykryn)
	pushTag = group user/lnykryn (lnykryn)
	pushSignedTag = group user/lnykryn (lnykryn)
