[Unit]
Description=Simple xinetd style daemon
Wants=instanced.target
PartOf=instanced.target

[Service]
ExecStart=/usr/bin/instanced
StandardInput=socket
StandardOutput=socket

[Install]
WantedBy=multi-user.target